# ignore all .exe files in the repo
*.exe

#ignore the .vscode file
.vscode/

# testing.c in root directory
/testing.c


# ignore the product_testing.dat 
/io/product_testing.dat

# ignore the transaction_testing.bat
/io/transaction_testing.dat

/io/.temp
